/* Tambahkan ini di bagian bawah file style.css Anda */
#input-teks {
    padding: 10px;
    font-size: 1em;
    width: 80%; /* Lebar 80% dari area tengah */
    max-width: 400px; /* Maksimal 400px */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}